@model string
@{
    ViewBag.Title = "CheckValue";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
}

<h1>CheckValue</h1>
<h2>Provided Value is @Model</h2>
<div>
    <ul class="test" style="height: 60px">
        <li style="left: 0%; width: 45%; top: 0; background-color: #038b16;">
            <a href="">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</a>
        </li>
    </ul>
</div>
