@using Ausm.ThemeWithMenuAndIdentity.ViewModels.Account
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"].</h2>
<div>
    <div>
        <section>
            <form asp-controller="Account" asp-action="ChangePassword" method="post" >
                <div>
                    <label asp-for="OldPassword"/>
                    <input asp-for="OldPassword"/>
                </div>
                <div>
                    <label asp-for="NewPassword" />
                    <input asp-for="NewPassword" />
                </div>
                <div>
                    <label asp-for="ConfirmPassword" />
                    <input asp-for="ConfirmPassword" />
                </div>
                <button type="submit" class="btn btn-default">Change</button>
            </form>
        </section>
    </div>
</div>