@using Ausm.ThemeWithMenuAndIdentity.ViewModels.Account
@model CreateUserViewModel
@{
    ViewData["Title"] = "Create User";
}

<h2>@ViewData["Title"].</h2>
<div>
    <div>
        <section>
            <form asp-controller="Account" asp-action="CreateUser" method="post" >
                <div>
                    <label asp-for="Username"/>
                    <input asp-for="Username"/>
                </div>
                <div>
                    <label asp-for="Password" />
                    <input asp-for="Password" />
                </div>
                <div>
                    <label asp-for="ConfirmPassword" />
                    <input asp-for="ConfirmPassword" />
                </div>
                <button type="submit" class="btn btn-default">Create</button>
            </form>
        </section>
    </div>
</div>